@tailwind base;
@tailwind components;
@tailwind utilities;


.profile-image-edit {
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-image-edit svg {
    margin: 0 auto;
}

.profile-image figure:hover .profile-image-edit {
    opacity: 1;
    visibility: visible;
}

/* ========= transición texto ============== */
div#info {
    position: absolute;
    overflow: hidden;
    background-color: #1f2937;
    opacity: 0;
    transition: opacity 0.3s;
}

div#imagen:hover div#info {
    opacity: 1;
}

p#headline {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-right: 15px;
    transition: margin-left 0.3s;
}

div#imagen:hover p#headline {
    margin-left: 15px;
}

p#descripcion {
    text-align: center;
    transition: margin-top 0.4s;
}

div#imagen:hover p#descripcion {
    margin-top: 15px;
}

/* ========= fin texto ============== */

/* Personalizar los bullets del Swiper */
.swiper-pagination-bullet {
    width: 12px; /* valor predeterminado es 8px */
    height: 12px;
    background-color: #c3ae9c;
    opacity: 1;
    margin: 0 6px; /* separación entre bullets */
}

.swiper-pagination-bullet-active {
    background-color: #805325;
    transform: scale(1.2); /* ligeramente más grande */
}

/* Asegura que los bullets estén por encima del contenido */
.swiper-pagination {
    position: relative;
    z-index: 10;
}

/* Opcionalmente evita que el contenido sobresalga */
.swiper-slide {
    overflow: hidden;
}

.swiper-pagination {
    position: relative;
    margin-top: 20px;
    z-index: 10;
}
